<h1>Add a contact to your address book!</h1>

<% @input.each do |input| %>
<a href:='/output'><%= input.first_name %></a>
  <p><%= input.last_name %></p>
  <p><%= input.job_title %></p>
  <p><%= input.company %></p>
  <p><%= input.contact_type %></p>
  <p><%= input.zip %></p>
<% end %>

<form action="/output" method="post">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input name="first_name" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="last_name">Last Name:</label>
    <input name="last_name" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="job_title">Job Title:</label>
    <input name="job_title" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="company">Company:</label>
    <input name="company" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="contact_type">Contact Type(Personal, Professional):</label>
    <input name="contact_type" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="zip">Add zip code:</label>
    <input name="zip" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Add Contact!</button>
</form>
