
<h1>Your Information:</h1>
<h1><%= @first_name %></h1>
<h1><%= @last_name %></h1>
<h1><%= @job_title %></h1>
<h1><%= @company %></h1>
<h1><%= @contact_type %></h1>
<h1><%= @zip %></h1>


<a href="/input2">Add more contacts</a>
