
<h1><%= @input.first_name %></h1>
<h1><%= @input.last_name %></h1>
<h1><%= @input.job_title %></h1>
<h1><%= @input.company %></h1>
<h1><%= @input.contact_type %></h1>

<a href="/">Back to contacts</a>
